[user]
	name = Yusuke Sato
	email = yusuke1.sato9.git@gmail.com
[color]
	ui = true
[alias]
	co = checkout
	st = status
	stat = status
	br = branch
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[merge]
	ff = false
