[user]
    name = Yusuke Sato
    email = yusuke1.sato9.git@gmail.com
[color]
    ui = true
[alias]
    ci = commit
    co = checkout
    us = unstage
    chp = cherry-pick
    st = status
    br = branch
    f = fetch
    d = diff
    p = push

    branches = branch -a
    tags = tag
    stashes = stash list

    refresh= !git fetch origin && git remote prune origin
    fpr= "!f() { git fetch origin refs/pull/$1/head:pr/$1; }; f"

    unstage = reset -q HEAD --
    discard = checkout --
    uncommit = reset --mixed HEAD~
    amend = commit --amend

    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order

    precommit = diff --cached --diff-algorithm=minimal -w

    ls = ls-files
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = input
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[merge]
    ff = false
